html {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	font-size: 10px;
	color: hsl(210, 100%, 94%)
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.flex {
	display: flex
}
.flex-col {
	flex-direction: column
}

.justify-center {
	justify-content: center
}
.justify-between {
	justify-content: space-between
}

.items-center {
	align-items: center
}
.items-stretch {
	align-items: stretch
}

.h-screen {
	height: 100vh
}
.w-screen {
	width: 100vw
}
.w-full {
	width: 100%
}

.roof-top {
	position: fixed;
	height: 0.50rem;
	width: 100vw;
	background: linear-gradient(90deg, rgb(253, 33, 33), rgb(20, 255, 204));
	top: 0; left: 0;
}

#app {
	flex: 0 1 650px;
	background-color: rgb(36, 37, 82);
	height: 100vh;
	max-height: 700px;
	min-height: 400px
}

header {
	padding: 2rem 0;
}
header > h1 {
	font-weight: 800;
	font-size: 2.50rem;
}

ul {
	padding: 0 2rem
}

li {
	height: 3rem;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center
}

li > span {
	font-size: 1.20rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.w-2 {
	width: 2rem;
}

.flex-1 {
	flex: 1 1 10px
}
.flex-2 {
	flex: 2 2 10px
}

.font-smaller > span {
	font-size: 1.10rem
}

.hidden {
	display: none
}