.name-slot, .hour-slot, .week-slot, .cap-slot {
	display: none
}


@media screen and (min-width: 350px) {
	.week-slot {
		display: flex
	}
}
@media screen and (min-width: 400px) {
	.name-slot {
		display: flex
	}
}
@media screen and (min-width: 450px) {
	.hour-slot {
		display: flex
	}
}
@media screen and (min-width: 500px) {
	.cap-slot {
		display: flex
	}
}