@media screen and (min-width: 350px) {
	.screen-small {
		display: flex
	}
}
@media screen and (min-width: 400px) {
	.screen-medium {
		display: flex
	}
}
@media screen and (min-width: 460px) {
	.screen-large {
		display: flex
	}
}